@{
    Layout = null;
}
@if (User.Identity.IsAuthenticated)
{
    <html>
    <head>
        <title>FullStackExercise</title>
        <link href="~/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <br>
        <h2>Welcome @User.Identity.Name</h2>
        <div id="content"></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
        <script src="@Url.Content("~/js/CustomerScreen.jsx")"></script>
        <div>
            @Html.ActionLink("Log Off", "Logoff",
            "Customers", null, null)
        </div>
    </body>
</html>


}
else
{
<div>
    <h1>unauthenticated</h1>
    <a href="/Login/Index">Please Login first to view the Table</a>
</div>
}